black==25.1.0
click==8.2.1
coverage==7.8.2
iniconfig==2.1.0
mypy==1.16.0
mypy_extensions==1.1.0
numpy==2.3.0
packaging==25.0
pandas==2.3.0
pandas-stubs==2.2.3.250527
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.6.0
Pygments==2.19.1
pytest==8.4.0
pytest-cov==6.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pytz==2025.2
six==1.17.0
types-pytz==2025.2.0.20250516
types-setuptools==80.9.0.20250529
typing_extensions==4.14.0
tzdata==2025.2
